*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 129, 129);
  width: 100vw;
  height: 100vh;
}